@using BlazorTraining.Models

<div class="form-field">
    <label>Street:</label>
    <div>
        <InputText @bind-Value="Address.Street" />
        <ValidationMessage For="@(() => Address.Street)" />
    </div>
</div>

<div class="form-field">
    <label>Number:</label>
    <div>
        <InputNumber @bind-Value="Address.Number" />
        <ValidationMessage For="@(() => Address.Number)" />
    </div>
</div>

<div class="form-field">
    <label>BoxNumber:</label>
    <div>
        <InputNumber @bind-Value="Address.BoxNumber" />
        <ValidationMessage For="@(() => Address.BoxNumber)" />
    </div>
</div>

<div class="form-field">
    <label>Postal code:</label>
    <div>
        <InputText @bind-Value="Address.ZipCode" />
        <ValidationMessage For="@(() => Address.ZipCode)" />
    </div>
</div

<div class="form-field">
    <label>Postal code:</label>
    <div>
        <InputText @bind-Value="Address.City" />
        <ValidationMessage For="@(() => Address.City)" />
    </div>
</div>

@code {
    [Parameter] public Address Address { get; set; }
}